.custom-loader {
  text-align: center;

  img {
    max-width: 100%;
  }

  p {
    font-size: 18px;
    font-weight: bold;
  }

  // Agrega aquí tus estilos de animación
}


.flex_div {
  display: flex;
  justify-content: space-between;
}
