<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca del App
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding" [fullscreen]="true">
  <div class="main-content">
    <ion-item lines="full">
      <ion-icon slot="start" name="logo-angular" color="primary"></ion-icon>
      <ion-label>{{ 'Angular Version'}}</ion-label>
      <ion-text slot="end">
        <p>16.0.0</p>
      </ion-text>
    </ion-item>
    <ion-item lines="full">
      <ion-icon slot="start" name="logo-ionic" color="primary"></ion-icon>
      <ion-label>{{ 'Ionic Version'}}</ion-label>
      <ion-text slot="end">
        <p>7.0.0</p>
      </ion-text>
    </ion-item>
    <ion-item lines="full">
      <ion-icon slot="start" name="phone-portrait-outline" color="primary"></ion-icon>
      <ion-label>{{ 'Capacitor App '}}</ion-label>
      <ion-text slot="end">
        <p>5.0.6</p>
      </ion-text>
    </ion-item>
    <ion-item lines="full">
      <ion-icon slot="start" name="camera-outline" color="primary"></ion-icon>
      <ion-label>{{ ' Capacitor Camera'}}</ion-label>
      <ion-text slot="end">
        <p>5.0.7</p>
      </ion-text>
    </ion-item>
    <ion-item lines="full">
      <ion-icon slot="start" name="pricetag-outline" color="primary"></ion-icon>
      <ion-label>{{ ' Icons ionicons'}}</ion-label>
      <ion-text slot="end">
        <p>7.0.0</p>
      </ion-text>
    </ion-item>


  </div>
</ion-content>


